@model CS4790Assignment3.Models.ViewModels.GameDetails
@{
	Layout = "~/Views/Shared/_Layout.cshtml";
	ViewData["Title"] = "Game Details";
}

<div class="row">
	<h2 class="text-center">
		@(Model.Game.Name)
	</h2>
	<br /><br />
</div>

@{
	var IsValidated = ViewData["IsValidated"];
	if (IsValidated != null)
	{
		var Role = (string)ViewData["Role"];
		if (Role == "Administrator")
		{
			<div class="row col-lg-12 col-md-12 text-center">
				<a asp-action="Edit" asp-route-id="@(Model.Game.GameID)">Edit</a> |
				<a asp-action="Delete" asp-route-id="@(Model.Game.GameID)">Delete</a>
				<br /><br />
			</div>
		}
	}
}

<div class="row">
	<div class="col-lg-4 col-md-4 text-center">
		<img src="/images/games/@(Model.Game.ImagePath)" style="width: 256px; height: 256px; background-color: darkgrey;" />
	</div>
	<div class="col-lg-6 col-md-6">
		<div class="">
			<p><i>@Html.DisplayFor(model => model.Game.Description)</i></p>
			<br />
		</div>
		<dl class="dl-horizontal">
			<dt>
				@Html.DisplayNameFor(model => model.Game.Genre)
			</dt>
			<dd>
				@Html.DisplayFor(model => model.Game.Genre)
			</dd>

			<dt>
				@Html.DisplayNameFor(model => model.Game.Price)
			</dt>
			<dd>
				@Html.DisplayFor(model => model.Game.Price)
			</dd>

			<dt>
				Online Capabilities
			</dt>
			<dd>
				@{
					if (Model.Game.IsOnlineMultiplayer == true)
					{
						<p>Online Multiplayer Available</p>
					}
					else
					{
						<p>Offline Singleplayer Only</p>
					}
				}
			</dd>
		</dl>
	</div>

	<div class="col-lg-6 col-md-6">
		<dl class="dl-horizontal">
			<dt>
				@Html.DisplayNameFor(model => model.Publisher.PublisherName)
			</dt>
			<dd>
				@Html.DisplayFor(model => model.Publisher.PublisherName)
			</dd>

			<dt>
				Publisher Status
			</dt>
			<dd>
				@{
					if (Model.Publisher.IsIndie == true)
					{
						<p>Indie</p>
					}
					else if (Model.Publisher.IsTripleA == true)
					{
						<p>Triple-A</p>
					}
				}
			</dd>
		</dl>
	</div>

	<div class="col-lg-6 col-md-6">
		<br />
		<form asp-action="AddItemToCart" asp-controller="Users">
			<div class="form-horizontal">
				<div asp-validation-summary="ModelOnly" class="text-danger"></div>
				<input type="hidden" asp-for="Game.GameID" value="@Model.Game.GameID" />
				<input type="hidden" asp-for="Game.Name" value="@Model.Game.Name" />
				<input type="hidden" asp-for="Game.Price" value="@Model.Game.Price" />
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<label asp-for="Quantity" class="col-md-4 control-label"></label>
							<div class="col-md-8">
								<input asp-for="Quantity" type="number" value="1" step="1" class="form-control" />
								<span asp-validation-for="Quantity" class="text-danger"></span>
							</div>
						</div>
					</div>
					<div class="row form-group">
						<div class="col-lg-3 col-md-3 text-center">
							<input type="submit" value="Add to cart" class="btn btn-primary" />
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>

<div class="row col-lg-12 col-md-12">
	<h2 class="text-center">Reviews</h2>
	<p class="text-center"><i>Note: Review Content may be the same (due to laziness in seed data), but dates should be different, even if only slightly.</i></p>
	<br />
</div>

<div class="row col-lg-12 col-md-12">
	<table class="table table-hover">
		<tr>
			<th>
				Author
			</th>
			<th>
				Recommended
			</th>
			<th>
				Submission Date
			</th>
			<th>
				Review
			</th>
		</tr>
		@foreach (var review in Model.Reviews)
		{
			<tr>
				<td>
					@Html.DisplayFor(r => review.Author)
				</td>
				<td>
					@{
						if (review.DoesRecommend == true)
						{
							<div class="text-success"><b>Yes</b></div>
						}
						else
						{
							<div class="text-danger"><b>No</b></div>
						}
					}
				</td>
				<td>
					@Html.DisplayFor(r => review.SubmissionDate)
				</td>
				<td>
					@Html.DisplayFor(r => review.ReviewContent)
				</td>
			</tr>
		}
	</table>
</div>
