@model CS4790Assignment3.Models.ViewModels.ShoppingCart
@{
	Layout = "~/Views/Shared/_Layout.cshtml";
	ViewData["title"] = "Checkout";
}

@{
	var IsValidated = ViewData["IsValidated"];
	if (IsValidated == null)
	{
		var Role = (string)ViewData["Role"];
		if (Role == "Administrator")
		{
		<div class="row col-lg-12 col-md-12 text-center">
			<h5 class="text-success"><a asp-action="Login" asp-controller="Users">Login</a> or <a asp-action="Create" asp-controller="Users">Login</a> to save your cart or checkout!</h5>
		</div>
		}
	}
}

<div class="row">
	<h2 class="text-center">Order Checkout</h2>
	<br /><br />
</div>

<div class="row">
	<div>
		<a asp-action="Index" asp-controller="Games" class="btn btn-warning">Continue Shopping</a>
		<btn />
	</div>
	<table class="col-md-12 table table-hover">
		<tbody>
			@foreach (var entry in Model.Cart)
			{
				<tr>
					<td>
						@Html.DisplayFor(i => entry.GameID)
					</td>
					<td>
						@Html.DisplayFor(i => entry.Name)
					</td>
					<td>
						@Html.DisplayFor(i => entry.Quantity)
					</td>
					<td>
						@Html.DisplayFor(g => entry.Price)
					</td>
					<td>
						@(entry.Price * entry.Quantity)
					</td>
				</tr>
			}
		</tbody>
	</table>
</div>

<div class="row col-md-12">
	<br /><hr />
	<div class="col-md-8"></div>
	<div class="col-md-4">
		<dl class="dl-horizontal">
			<dt>Total Quantity</dt>
			<dd>@(Model.TotalItems)</dd>
		</dl>
		<dl class="dl-horizontal">
			<dt>Sub Total</dt>
			<dd>@(Model.TotalCost)</dd>
			<dt>Tax</dt>
			<dd></dd>
		</dl>
		<dl class="dl-horizontal">
			<dt>Total</dt>
			<dd>1234567</dd>
		</dl>
	</div>
</div>

<div class="row">
	<div class="col-md-4"></div>
	<div class="col-md-4">
		<a asp-action="Checkout" asp-controller="Users" class="btn btn-success">Submit Order</a>
		<a asp-action="ViewCart" asp-controller="Users" class="btn btn-danger">Return to Cart</a>
	</div>
	<div class="col-md-4"></div>
</div>
