@model List<CS4790Assignment3.Models.ViewModels.CartItem>
@{
	Layout = "~/Views/Shared/_Layout.cshtml";
	ViewData["title"] = "View Your Cart";
}

<table class="table table-hover">
	<thead>
		<tr>
			<th>
				Game ID
			</th>
			<th>
				Game Name
			</th>
			<th>
				Quantity
			</th>
			<th>
				Price
			</th>
			<th>
				Total
			</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var entry in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(i => entry.GameID)
				</td>
				<td>
					@Html.DisplayFor(i => entry.Name)
				</td>
				<td>
					@Html.DisplayFor(i => entry.Quantity)
				</td>
				<td>
					@Html.DisplayFor(g => entry.Price)
				</td>
				<td>
					@(entry.Price * entry.Quantity)
				</td>
			</tr>
		}
	</tbody>
</table>

<div>
	<a asp-action="Index">Return to homepage</a>
</div>

