@inject Microsoft.ApplicationInsights.AspNetCore.JavaScriptSnippet JavaScriptSnippet
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>A4 - @ViewData["Title"]</title>
	<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
	<link rel="stylesheet" href="/css/site.css" />

	<environment names="Development">
		<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
		<link rel="stylesheet" href="/css/site.css" />
	</environment>
	<environment names="Staging,Production">
		<link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
			  asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
			  asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
		<link rel="stylesheet" href="~/css/site.css"/>
	</environment>
	@Html.Raw(JavaScriptSnippet.FullScript)
</head>
<body>
	<div>
		<div class="BannerImage top">
			<img src="~/images/video-game-banner-trimmed.png" style="width: 100%; height: 40%; background-size:cover;" />
		</div>
		<div class="TitleText col-lg-12 text-center">
			<h1><a asp-action="Index" asp-controller="Games">Kole's Game Store</a></h1>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-3 text-center">
				@{ var TitleCheck = (string)ViewData["Title"];
					if (TitleCheck == "Your Shopping Cart")
					{
						<img src="/images/nav/home.svg" />
						<a asp-action="Index" asp-controller="Games">Return to catalog</a>
					}
					else
					{
						<img src="/images/nav/shoppingcart.svg" />
						<a asp-action="ViewCart" asp-controller="Users">View your shopping cart</a>
					}
				}
			</div>
			<div class="col-md-6"></div>
			<div class="col-md-3">
				@{
					var IsUserValidated = ViewData["IsValidated"];
					if (IsUserValidated == null)
					{
						<div>
							<a asp-action="Login" asp-controller="Users">Login</a> |
							<a asp-action="Create" asp-controller="Users">Register</a>
						</div>
					}
					else
					{
						<div>
							<b>Welcome, @ViewData["Username"]!</b> <a asp-action="Logout" asp-controller="Users">Click here to logout.</a>
							<h6>Your role is @ViewData["Role"] and your ID is @ViewData["UserID"].</h6>
						</div>
					}
				}
			</div>
		</div>
		<div class="row text-center"><hr /></div>

		<div class="row body-content">
			@RenderBody()
		</div>

		<div class="row">
			<div class="col-lg-12 text-center">
				<hr />
				<a asp-action="About" asp-controller="Games">About Assignment 4</a>
				<p>Kole Frazier - CS4790 Assignment 4</p>
			</div>
		</div>
	</div>
</body>
</html>
